.App {
  text-align: center;
  overflow: hidden;
}
.drop {
  width: 500px;
}
.chart {
  width: 10px;
  height: 10px;
}
.title {
  background-color: cornflowerblue;
  font-size: 50px;
  margin-top: 10px;
  border-bottom: 3px solid black;
}
.drop {
  padding: 0 20px 0 20px;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.symbol {
  margin: 0;
}
.options {
  width: 350px;
}

.candleStick {
  padding: 0 100px 0 100px;
}
.barChart {
  padding: 0 100px 0 100px;
}

.footer {
  background-color: black;
  color: white;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
